a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}
.dribbble img {
  display: block;
  height: 28px;
}
.twitter {
  position: fixed;
  display: block;
  right: 64px;
  bottom: 14px;
}
.twitter svg {
  width: 32px;
  height: 32px;
  fill: #1da1f2;
}

.header {
  background-color: #e0e7c1;
  padding: 10px 0 12px;
  color: #3c3d3c;
}

.logo-img {
  height: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}
.phone {
  flex-shrink: 0;
  text-align: right;
}

.menu-item {
  width: 400px;
}

.menu-item2 {
  width: 400px;
  display: flex;
  justify-content: right;
}

.headline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headline {
  background-color: #fdfdff;
  text-align: center;
  padding: 70px 0 40px;
}

.title {
  text-transform: uppercase;
  margin-bottom: 0 0 40px;
  color: #717171;
  font-weight: 700;
  font-size: 62px;
  line-height: 5px;
}

.headline-img {
  margin-bottom: 25px;
  height: 300px;
}

.headline-btn {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #fff;
  background-color: #717171;
  padding: 22px 117px 19px;
  border-radius: 30px;
}

.new {
  padding: 90px 0 150px;
}

.new-title,
.color-title {
  margin: 0 0 50px;
  text-transform: uppercase;
  text-align: center;
  color: #717571;
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
}

.new-info {
  display: flex;
}

.img-item {
  height: 210px;
  width: 170px;
  border-radius: 30px;
  background-color: #e0e7c1;
  padding: 20px;
  animation: shadowGlow 12s linear infinite;
}

.new-text p {
  max-width: 560px;
  margin: 0 0 30px;
}

.new-text b {
  max-width: 560px;
  font-style: 20px;
  line-height: 26px;
}

.new-text2 {
  max-width: 760px;
  font-style: 20px;
  line-height: 26px;
}

.images-new {
  margin-left: 190px;
  height: 300px;
  animation: bounce 4s ease-in-out infinite;
}

.color {
  padding-bottom: 150px;
}

.color-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
}

.color-item img {
  margin-bottom: 20px;
}

.color-item h3 {
  font-size: 28px;
  line-height: 3;
  margin: 0 0 9px;
}

.color-item {
  margin: 0;
  width: 240px;
}

.contacts-inner {
  display: flex;
  background-color: #985f54;
  color: #ffffff;
}

.contacts-form {
  width: 100%;
  padding: 140px 100px;
  text-align: center;
}

.contacts-title {
  margin: 0 0 60px;
  text-transform: uppercase;
  font-style: 32px;
  line-height: 39px;
  text-align: left;
}

.contacts-input {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #fff;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  background-color: #985f54;
}

.contacts-input::placeholder {
  font-style: 14px;
  line-height: 18px;
  color: #fff;
  opacity: 0.5;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.contacts-form p {
  opacity: 0.5;
  text-align: center;
  margin: 30px 0;
}

.contacts-form button {
  border: none;
  text-transform: uppercase;
  color: #985f54;
  background-color: #fff;
  border-radius: 30px;
  padding: 16px 81px;
  font-weight: 400;
  cursor: pointer;
}

.footer {
  background-color: #e0e7c1;
  color: #3c3d3c;
  justify-content: center;
  display: flex;
  padding: 10px 0 12px;
}

.footer-link {
  flex-basis: 1px;
  flex-grow: 1;
}

.footer-iner {
  color: #717171;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.menu-btn {
  display: none;
}

@media (max-width: 1200px) {
  .headline-img {
    min-width: 100%;
  }
  .contacts-inner {
    display: block;
  }
  .contacts-form {
    width: auto;
  }
  .contacts-title {
    text-align: center;
  }
  .contacts-img {
    width: 100%;
  }
  .contacts {
    background-color: #985f54;
  }
}

@media (max-width: 1100px) {
  .color-list {
    flex-wrap: wrap;
  }

  .color-item {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 940px) {
  .menu-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    order: 1;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 50;
  }

  .logo1,
  .phone {
    position: relative;
    z-index: 50;
  }
  .btn-line {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 2px;
    transition: 0.3s ease;
  }
  .btn-line:nth-child(1) {
    top: 0;
  }
  .btn-line:nth-child(2) {
    top: 20px;
  }
  .btn-line:nth-child(3) {
    top: 20px;
  }
  .btn-line:nth-child(4) {
    top: 40px;
  }
  .menu-open .btn-line:nth-child(1) {
    transform: scaleX(0);
  }
  .menu-open .btn-line:nth-child(2) {
    transform: rotate(45deg);
  }
  .menu-open .btn-line:nth-child(3) {
    transform: rotate(-45deg);
  }
  .menu-open .btn-line:nth-child(4) {
    transform: scaleX(0);
  }

  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100%);
    transition: 0.3s ease;
  }

  .meny-item {
    padding: 50px 0;
    font-style: 56px;
  }

  .images-new {
    display: none;
  }

  .new-text p,
  .new-text b {
    max-width: 100%;
  }
  .phone {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .headline,
  .new {
    padding: 50px 0;
  }
  .color {
    padding-bottom: 50px;
  }
  .contacts-form {
    padding: 50px 70px;
  }
}

@media (max-width: 640px) {
  .footer-iner {
    padding: 20px 0;
    flex-direction: column;
  }
  .footer-iner .logo1 {
    margin: 15px 0;
  }
}

@media (max-width: 560px) {
  .title {
    font-style: 34px;
    line-height: 42px;
  }
  .new-title,
  .color-title {
    font-style: 28px;
    line-height: 32px;
  }
  .headline-btn {
    font-style: 18px;
    line-height: 16px;
    padding: 16px 90px;
  }

  .color-item {
    width: 100%;
  }
  .contacts-form {
    padding: 50px 30px;
  }
}

@media (max-width: 375px) {
  .contacts-form {
    padding: 50px 10px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shadowGlow {
  0% {
    box-shadow: 0 0 50px 5px rgba(9, 71, 22, 0.6);
  }
  25% {
    box-shadow: 0 0 50px 5px rgba(100, 255, 100, 0.6);
  }
  50% {
    box-shadow: 0 0 50px 5px rgba(67, 255, 63, 0.6);
  }
  75% {
    box-shadow: 0 0 50px 5px rgba(198, 255, 167, 0.73);
  }
  100% {
    box-shadow: 0 0 50px 5px rgba(22, 194, 179, 0.6);
  }
}

@keyframes smoke {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-50px) scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-100px) scale(1.5);
    opacity: 0;
  }
}

.smoke-container {
  position: absolute;
  top: 1300px;
  right: 180px;
  width: 100px;
  height: 150px;
}

.smoke {
  position: absolute;
  width: 60px;
  height: 60px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(186, 186, 186, 0.5) 70%
  );
  border-radius: 50%;
  animation: smoke 4s infinite;
  opacity: 0.7;
}

.smoke:nth-child(1) {
  left: 0;
  animation-delay: 0s;
}

.smoke:nth-child(2) {
  left: 30px;
  animation-delay: 0.2s;
}

.smoke:nth-child(3) {
  left: 60px;
  animation-delay: 0.4s;
}

.smoke:nth-child(4) {
  left: 15px;
  animation-delay: 0.6s;
}

.smoke:nth-child(5) {
  left: 45px;
  animation-delay: 0.8s;
}

.smoke:nth-child(6) {
  left: 30px;
  animation-delay: 1s;
}

info {
  display: flex;
  justify-content: center;
  height: 620px;
  align-items: center;
  flex-direction: column;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  height: 300px;
}
th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #985f54;
  font-family: "Marmelad", sans-serif;
  color: white;
  font-size: 18px;
  min-width: 160px;
}
td {
  font-size: 16px;
}
tr:hover {
  background-color: #f1f1f1;
}
caption {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.character {
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: float 5s infinite ease-in-out;
}
.character.child {
  background-image: url("https://png.klev.club/uploads/posts/2024-03/png-klev-club-p-serdtse-narisovannoe-png-14.png"); /* Иконка ребенка */
}
.character.adult {
  background-image: url("https://png.klev.club/uploads/posts/2024-03/png-klev-club-p-serdtse-narisovannoe-png-14.png"); /* Иконка взрослого */
}
.character:nth-child(1) {
  top: 90px;
  left: 10%;
  animation-delay: 0s;
}
.character:nth-child(2) {
  top: 10%;
  right: 5%;
  animation-delay: 1s;
}
.character:nth-child(3) {
  bottom: 10%;
  left: 20%;
  animation-delay: 2s;
}
.character:nth-child(4) {
  bottom: -20px;
  right: 15%;
  animation-delay: 3s;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.arrow-container {
  text-align: center;
  display: flex;
  justify-content: center;
}
.arrow-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.arrow {
  width: 30px;
  height: 30px;
  border-left: 5px solid rgba(77, 162, 122, 0.809);
  border-bottom: 5px solid rgb(40, 105, 22);
  transform: rotate(-45deg);
  animation: bounce2 2s infinite ease-in-out;
}
@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(-45deg);
  }
  40% {
    transform: translateY(15px) rotate(-45deg);
  }
  60% {
    transform: translateY(10px) rotate(-45deg);
  }
}

.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 800px;
}

.modal-title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.modal-text {
  margin-bottom: 20px;
}

.open-modal-btn,
.close-modal-btn {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #fff;
  background-color: #717171;
  padding: 22px 117px 19px;
  border-radius: 30px;
}

.open-modal-btn:hover,
.close-modal-btn:hover {
  background-color: #565656;
}

.eto {
  font-weight: 900;
  color: #985f54;
}

.blockquote-5 {
    width: 70%;
  position: relative;
  padding: 16px 24px;
  margin: 16px 16px 26px 16px;
  font-size: 16px;
  border-top: 2px solid #337ab7;
  border-bottom: 2px solid #337ab7;
}
.blockquote-5::after {
  font-family: Times, sans-serif;
  font-weight: bold;
  position: absolute;
  content: "”";
  color: #bfe2ff;
  font-size: 160px;
  line-height: 0;
  bottom: -22px;
  right: 30px;
  text-shadow: 2px 0 0 #337ab7, -2px 0 0 #337ab7, 0 2px 0 #337ab7,
    0 -2px 0 #337ab7, 1px 1px #337ab7, -1px -1px 0 #337ab7, 1px -1px 0 #337ab7,
    -1px 1px 0 #337ab7;
}
.blockquote-5 cite {
  color: #337ab7;
  font-size: 15px;
  padding-top: 20px;
  display: block;
}

.modal-imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-between;

    img {
        height: 150px;
    }
}